<form id="ajax-form" novalidate="" class="form" method="POST" action="{{path("entradaProdutoAdd", {'produto' : entity.codProduto})}}">
    {% include "AgpAdminBundle:EntradaProduto:_form.html.twig" %}
</form>

