{% extends "AgpRelBundle::base-relbundle.html.twig" %}
{% block title %}Aquisições{% endblock %}

{% block content %}
<div class="wrapper-widget" style="min-width: 520px;">
        <div class="row-fluid">
            <div class="span12 well well-small header-grid"><span><i class="icon-th"></i><span class="break"></span>Relatório de aquisições<i class="icon-chevron-down pull-right" data-toggle="none" data-target="#widgetDefault"></i></span></div>
        </div>
        <div id="widgetDefault" class="content-widget collapse in">
            <form class="form-inline filter">
             <div class="row-fluid">
                {{form_widget(formFilter.produto)}} 
                {{form_widget(formFilter.fornecedor)}}  
                {{form_widget(formFilter.dtInicio)}} <span style="margin-right: 10px;">à</span>
                {{form_widget(formFilter.dtTermino)}}
            </div>
            </form>
            <hr>
            <table class="simpletable table table-striped">
                <colgroup>
                    <col class="con0" />
                    <col class="con1" />
                    <col class="con0" />
                    <col class="con1" />
                    <col class="con0" />
                </colgroup>
                <thead>
                    <tr>
                        <th class="head0">Data de Entrada</th>
                        <th class="head0">Produto</th>
                        <th class="head0">Quantidade</th>
                        <th class="head1">Custo(Unitário)</th>
                        <th class="head0">Fornecedor</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
   </div>

{% endblock %}

{% block javascript_diff %}
<script type="text/javascript">
    
    function getRota(){
        return Routing.generate("aquisicaoRelatiorioAjax",
                              {'produto' : $(".produto").val() ? $(".produto").val() : 0,
                               'fornecedor' : $(".fornecedor").val() ? $(".fornecedor").val() : 0,
                               'dtInicio' : $(".dtInicio").val(),
                               'dtTermino' : $(".dtTermino").val()});
    }
    
    $(document).ready(function()
    {   
        $("#atualizar").click(function(e){
            e.preventDefault()
            oTable.fnNewAjax(getRota());            
            oTable.dataTable().fnReloadAjax();
        })
        
        $(".filter select, .filter input").change(function(){
            oTable.fnNewAjax(getRota());            
            oTable.dataTable().fnReloadAjax();
        });  
        
        dtNewProps = {
              "sServerMethod": "POST",
              "sAjaxSource": getRota(),
              "aoColumns": [
                { "mDataProp": "dtEntrada.date" },
                { "mDataProp": "produto" },
                { "mDataProp": "qtde",
                  "sClass" : "center"},
                { "mDataProp": "custo",
                  "sClass" : "valor center"}, 
                { "mDataProp": "fornecedor"},
              ],
              
              "fnRowCallback": function ( nRow, aaData, iStart, iEnd, aiDisplay ) {
                  $('td:eq(0)', nRow).html(formataDate(aaData['dtEntrada']['date'], 'datetime')); 
                  $('td:eq(1)', nRow).html('<a class="link" href="'+Routing.generate("entradaProdutoIndex", {"id" : aaData['codProduto']})+'">'+aaData['produto']+'</a>');
                  $('td:eq(2)', nRow).html(formataQtdTabela(aaData['qtde']+"")); 
                  $(nRow).children(".valor").html(formataDinheiroTabela(aaData['custo']+""));
              },

        }
        
        initDataTable(oTable, dtNewProps);
    });
</script>
{% endblock %}
