<form id="ajax-form" novalidate="" class="form" method="POST" action="{{path("terminalEmpresaEdit", {"id" : entity.codTerminalEmpresa, "terminalId" : entity.terminal.codTerminal})}}">
    {% include "AgpAdminBundle:TerminalEmpresa:_form.html.twig" %}
</form>

