<div class="row-fluid">
    <div class="span2 menu-profile">
        <ul class="nav nav-list">
        {% block menuProfile %}
        {% endblock %}
        </ul>
    </div>
    <div class="span10 content-profile">
        {% block contentProfile %}
        {% endblock %}
    </div>
</div>


