<form id="ajax-form" novalidate="" class="form" method="POST" action="{{path("fornecedorEdit", {"id" : entity.codFornecedor})}}">
    {% include "AgpAdminBundle:Fornecedor:_form.html.twig" %}
</form>

