<form id="ajax-form" novalidate="" class="form" method="POST" action="{{path("produtoListaEdit", {"id" : entity.codProdutoListaPreco, "listaId" : listaId})}}">
    {% include "AgpAdminBundle:ProdutoLista:_form.html.twig" %}
</form>

