<form id="ajax-form" novalidate="" class="form" method="POST" action="{{path("empresaTerminalAdd", {"empresaId" : empresaId})}}">
    {% include "AgpAdminBundle:EmpresaTerminal:_form.html.twig" %}
</form>

