<form id="ajax-form" novalidate="" class="form" method="POST" action="{{path("empresaTerminalEdit", {"id" : entity.codTerminalEmpresa, "terminalId" : entity.terminal.codTerminal})}}">
    {% include "AgpAdminBundle:EmpresaTerminal:_form.html.twig" %}
</form>

