<form id="ajax-form" novalidate="" class="form" method="POST" action="{{path("terminalEmpresaAdd", {"terminalId" : terminalId})}}">
    {% include "AgpAdminBundle:TerminalEmpresa:_form.html.twig" %}
</form>

