{% extends "::base.html.twig" %}

{% block title %}Relatórios e Consultas{% endblock %}
   
{% block width_content %}span9{% endblock %}

{% block menuside %}
    <div class="span3 sidebar">
        {% include "AgpRelBundle::menu-relbundle.html.twig" %}
    </div>
{% endblock %}